@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*{
  color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*{
  margin: 0;
  padding: 0;
  /* cursor: none; */
}
.under-line{
  border-radius: 5px;
  animation-name:line ;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
  animation-iteration-count: unset;
}
@keyframes line{
     0%{
       width: 0%;
     }
     100%{
       width: 100%;
     }
}
.orange-ball{
   animation-name: move-org-ball;
   animation-duration: 40s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}
@keyframes move-org-ball{
     0%{
       top:0;
       left: 0%;
     }
     25%{
       top: 10%;
       left: 70%; 
     }
     50%{
      top:50%;
      left:50% 
     }
     75%{
       top: 40%;
       left: 40%;
     }
     100%{
      top: 0%;
      left: 0%;
    }
}
.green-ball{
  
  animation-name: move-gre-ball;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes move-gre-ball{
  0%{
    bottom:0%;
    right: 0%;
  }
  25%{
    bottom:70%;
    right: 70%; 
  }
  50%{
    bottom:50%;
    right: 50%;
  }
  75%{
    bottom:20%;
    right: 20%;
  }
  100%{
    bottom:0%;
    right: 0%;
 }
}
.back-blur{
  position: absolute;
  backdrop-filter: blur(30px);
  width: 100%;
  height: 100%;
  border-radius: 20px; 
}
